.details {
  display: flex;
  justify-content: space-between;
  /* margin-top: 4rem; */
  margin: 4rem 10vw;
  flex-wrap: wrap;
}

.title {
  font-family: "Poiret One";
  font-weight: bolder;
}

.desc {
  margin: 1rem 2rem;
}

.imageGrid {
  margin: 2rem 10vw;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.img {
  justify-content: center;
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .imageGrid {
    grid-template-columns: repeat(2, 1fr);
    margin: 10vw;
  }
}

@media only screen and (max-width: 700px) {
  .imageGrid {
    grid-template-columns: 1fr;
  }
}
