.projects {
  max-width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  position: relative;
  text-align: center;
  transition: all 0.15s;
}

.text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  color: white;
  background-color: rgba(94, 94, 94, 0.4);
  font-family: "Poiret One";
  font-size: 2vw;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card:hover .img {
  opacity: 0.85;
  border-radius: 20px;
}

.card:hover .text {
  transition: 0.2s;
  top: 50%;
  visibility: visible;
  opacity: 1;
}

.text:hover {
  visibility: visible;
}

.text:hover ~ .img {
  opacity: 0.85;
  border-radius: 20px;
}
