.projects {
  max-width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.card {
  color: white;
  position: relative;
}

.img {
  justify-content: center;
  display: flex;
  /* height: 70vh; */
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* bottom: -10; */
  visibility: hidden;
  color: white;
  background-color: rgba(94, 94, 94, 0.4);
  /* border-radius: 20px; */
  font-family: "Poiret One";
}

.gallery {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  /* align-items: center; */
}

.sideImages {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  overflow-y: auto;
}

.carousel {
  background-color: red;
  /* display: flex; */
  /* align-items: center; */
  height: 90vh;
  /* position: fixed; */
  justify-content: center;
  flex: 1;
}
